{% extends "layout.html" %}
{% block content %}

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        {% for entry in entries %}
        <a href={{ url_for( 'post',post_id=entry.id )}}>
          <h2 class="post-title">
            {{ entry.title }}
          </h2>
          <h3 class="post-subtitle">
            {{ entry.text[:15] + '...' }}
          </h3>
        </a>
        <p class="post-meta">
          Posted by {{entry.name}} on {{ entry.created_at|safe }}
        </p>
        {% else %}
        <h3>
          <em>Unbelievable. No entries here so far</em>
        </h3>
        {%endfor%}
      </div>
      <hr>
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href={{ url_for( 'index' )}}>Older Posts &rarr;</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}